body {
  text-align: center;
}

#slider {
  width: 100%;
}

#slidercontainer {
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
}

input#ammount {
  width: 50px;
  text-align: center;
}

#year {
  border:0;
  color:#000000;
  font-weight:bold;
  font-size: 20px;
  width: 50px;
}

#year_label {
  font-size: 20px;
}

.info {
  width = 1200px;
  margin: auto;
}

td {
  width: 400px;
}

.info table {
  width: 100%;
}

#flowing {
  height: 500px;
  width: 1000px;
  margin-top: 30px;
}
