body {
  text-align: center;
  background: #ffffff;
  background-image: url("back1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
}

div {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

#header {
  width: 600px;
  margin: 0 auto;
  padding-bottom: 1px;
  padding-top: 1px;
  margin-bottom: 20px;
}

#slider {
  width: 100%;
}

#slidercontainer {
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

input#ammount {
  width: 50px;
  text-align: center;
}

#year {
  border:0;
  color:#000000;
  font-weight:bold;
  font-size: 20px;
  width: 50px;
}

#year_label {
  font-size: 20px;
}

.info {
  width = 1200px;
  margin: auto;
}

td {
  width: 400px;
}

.info table {
  width: 100%;
}

#flowing {
  height: 250px;
  width: 500px;
  margin-top: 40px;
  margin-bottom: 20px;
}

#coins_title {
  width: 400px;
  margin: 0 auto;
  padding-bottom: 1px;
  padding-top: 1px;
  margin-bottom: 20px;
}
