body {

}

#slider {
  width: 80%;
}

#slidercontainer {
  padding-left: 30%;
  padding-right: 25%;
  text-align: center;
}

input#ammount {
  width: 50px;
  text-align: center;
}

#year {
  border:0;
  color:#000000;
  font-weight:bold;
  font-size: 20px;
}

#year_label {
  font-size: 20px;
}
